html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--sourcesans-font);
  color: #54595f;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--poppins-font);
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

a {
  color: #2996ef;
}
